@model List<Product>

@* @if (TempData["msg"] != null)
{
<h2>@TempData["msg"]</h2>
} *@

<partial name="_Partial" />

<div class="container">
    <div class="row pt-4">

        <div class="col-6">
            <h2 class="text-primary">Product List</h2>

        </div>



        <div class="col-6 text-end">
            <a asp-action="Add" class="btn btn-primary">Add
                Product</a>

            </a>



        </div>


    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Title


                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Price


                </th>
                <th>
                    Author
                </th>
                <th>
                    Category

                </th>


                <th></th>

            </tr>

        </thead>

        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>@obj.ISBN</td>
                    <td>@obj.Price</td>
                    <td>@obj.Author</td>
                    <td>@obj.Category.Name</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Product" asp-action="Edit" asp-route-itemid="@obj.Id"
                                class="btn btn-primary mx-2">Edit</a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-itemid="@obj.Id"
                                class="btn btn-danger mx-2" onClick="delete">Delete</a>

                        </div>
                    </td>

                </tr>



            }

            <tr>
        </tbody>
    </table>


</div>


<script type="text/javascript">

    function delete (){
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Deleted!",
                    text: "Your file has been deleted.",
                    icon: "success"
                });
            }
        });
    }



</script>